#breakout {
    background-color: #ffcc99;
    background-image: url("img/bg6.jpg");
    /* background-image: url("img/bg1.jpg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }